<div class="bg-body-tertiary">
    <div class="container">
        <div class="py-5">
            <div class="d-flex align-items-center justify-content-center mb-3">
                <a href="index.html" class="fs-3 navbar-brand fw-bold">
                    <div>K.<span class="opacity-50">SNEAK</span></div>
                </a>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-4">
                <a href="#" class="nav-link fw-bold">Find a Store</a>
                <a href="#" class="nav-link fw-bold">Help</a>
                <a href="#" class="nav-link fw-bold">Join Us</a>
                <a href="#" class="nav-link fw-bold">Login</a>
            </div>
        </div>
        <div class="py-5 border-top">
            <div class="row g-0">
                <div class="col">
                    <div class="fw-bold mb-4">Shop</div>
                    <div class="d-flex flex-column align-items-start gap-1 opacity-75">
                        <a href="#" class="nav-link">Men</a>
                        <a href="#" class="nav-link">Women</a>
                        <a href="#" class="nav-link">Kids</a>
                        <a href="#" class="nav-link">Brands</a>
                        <a href="#" class="nav-link">New</a>
                        <a href="#" class="nav-link">Sale</a>
                    </div>
                </div>
                <div class="col">
                    <div class="fw-bold mb-4">Resources</div>
                    <div class="d-flex flex-column align-items-start gap-1 opacity-75">
                        <a href="#" class="nav-link">Gift Cards</a>
                        <a href="#" class="nav-link">Find a Store</a>
                        <a href="#" class="nav-link">Membership</a>
                        <a href="#" class="nav-link">Site Feedback</a>
                    </div>
                </div>
                <div class="col">
                    <div class="fw-bold mb-4">Help</div>
                    <div class="d-flex flex-column align-items-start gap-1 opacity-75">
                        <a href="#" class="nav-link">Get Help</a>
                        <a href="#" class="nav-link">Order Status</a>
                        <a href="#" class="nav-link">Shipping and Delivery</a>
                        <a href="#" class="nav-link">Returns</a>
                        <a href="#" class="nav-link">Order Cancellation</a>
                        <a href="#" class="nav-link">Payment Options</a>
                        <a href="#" class="nav-link">Gift Card Balance</a>
                    </div>
                </div>
                <div class="col">
                    <div class="fw-bold mb-4">Company</div>
                    <div class="d-flex flex-column align-items-start gap-1 opacity-75">
                        <a href="#" class="nav-link">About Us</a>
                        <a href="#" class="nav-link">News</a>
                        <a href="#" class="nav-link">Careers</a>
                        <a href="#" class="nav-link">Investors</a>
                        <a href="#" class="nav-link">Purpose</a>
                        <a href="#" class="nav-link">Sustainability</a>
                    </div>
                </div>
                <div class="col">
                    <div class="fw-bold mb-4">Contact</div>
                    <div class="fw-semibold mb-3">+84909434987</div>
                    <div class="d-flex align-items-center gap-4 opacity-75">
                        <a href="#">
                            <i class="bi bi-twitter-x fs-5 text-black"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram fs-5 text-black"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-facebook fs-5 text-black"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-youtube fs-5 text-black"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
